USE [master]
GO
/****** Object:  Database [ispp2102]    Script Date: 11.09.2025 7:41:00 ******/
CREATE DATABASE [ispp2102]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ispp2102', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ispp2102.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ispp2102_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ispp2102_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ispp2102].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ispp2102]
GO
/****** Object:  Table [dbo].[Answers]    Script Date: 11.09.2025 7:41:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Answers](
	[AnswerId] [int] IDENTITY(1,1) NOT NULL,
	[AnswerText] [nvarchar](100) NOT NULL,
	[QuestionId] [int] NOT NULL,
	[IsCorrect] [bit] NOT NULL,
 CONSTRAINT [PK_Answers] PRIMARY KEY CLUSTERED 
(
	[AnswerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lections]    Script Date: 11.09.2025 7:41:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lections](
	[LectionId] [int] IDENTITY(1,1) NOT NULL,
	[LectionPhotoId] [int] NULL,
	[LectionName] [nvarchar](50) NOT NULL,
	[LectionText] [nvarchar](max) NOT NULL,
	[LectionDate] [date] NOT NULL,
	[ThemeId] [int] NOT NULL,
 CONSTRAINT [PK_Lections] PRIMARY KEY CLUSTERED 
(
	[LectionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Questions]    Script Date: 11.09.2025 7:41:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Questions](
	[QuestionId] [int] IDENTITY(1,1) NOT NULL,
	[QuestionText] [nvarchar](100) NOT NULL,
	[TestId] [int] NOT NULL,
 CONSTRAINT [PK_Questions] PRIMARY KEY CLUSTERED 
(
	[QuestionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuestionsResults]    Script Date: 11.09.2025 7:41:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuestionsResults](
	[QuestionId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[IsRightAnswer] [bit] NOT NULL,
 CONSTRAINT [PK_QuestionsResults] PRIMARY KEY CLUSTERED 
(
	[QuestionId] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 11.09.2025 7:41:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tests]    Script Date: 11.09.2025 7:41:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tests](
	[TestId] [int] IDENTITY(1,1) NOT NULL,
	[LectionId] [int] NOT NULL,
 CONSTRAINT [PK_Tests] PRIMARY KEY CLUSTERED 
(
	[TestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Themes]    Script Date: 11.09.2025 7:41:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Themes](
	[ThemeId] [int] IDENTITY(1,1) NOT NULL,
	[ThemeName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Themes] PRIMARY KEY CLUSTERED 
(
	[ThemeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 11.09.2025 7:41:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserLogin] [varchar](50) NOT NULL,
	[UserPassword] [varchar](50) NOT NULL,
	[RoleId] [int] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Visits]    Script Date: 11.09.2025 7:41:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Visits](
	[LectionId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[VisitTime] [int] NULL,
 CONSTRAINT [PK_Visits] PRIMARY KEY CLUSTERED 
(
	[LectionId] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Answers] ON 

INSERT [dbo].[Answers] ([AnswerId], [AnswerText], [QuestionId], [IsCorrect]) VALUES (1, N'Наука о методах и процессах сбора, хранения, обработки и передачи информации', 1, 1)
INSERT [dbo].[Answers] ([AnswerId], [AnswerText], [QuestionId], [IsCorrect]) VALUES (2, N'Только программирование', 1, 0)
INSERT [dbo].[Answers] ([AnswerId], [AnswerText], [QuestionId], [IsCorrect]) VALUES (3, N'Физика компьютеров', 1, 0)
SET IDENTITY_INSERT [dbo].[Answers] OFF
GO
SET IDENTITY_INSERT [dbo].[Lections] ON 

INSERT [dbo].[Lections] ([LectionId], [LectionPhotoId], [LectionName], [LectionText], [LectionDate], [ThemeId]) VALUES (1, 1, N'Что такое информатика?', N'Информатика — это наука о методах и процессах сбора, хранения, обработки и передачи информации с помощью компьютеров. Она включает в себя изучение алгоритмов, языков программирования и аппаратного обеспечения. Основные понятия: информация как абстрактное понятие, биты и байты, системы счисления. Примеры: двоичная система для компьютеров.', CAST(N'2023-10-01' AS Date), 1)
INSERT [dbo].[Lections] ([LectionId], [LectionPhotoId], [LectionName], [LectionText], [LectionDate], [ThemeId]) VALUES (2, 2, N'История развития компьютеров', N'История информатики начинается с древних вычислительных устройств, таких как абак. В XX веке появились ЭВМ: ENIAC (1945), первые компьютеры на транзисторах (1950-е), микропроцессоры (1970-е). Современные тенденции: ИИ, облачные вычисления, квантовые компьютеры.', CAST(N'2023-10-02' AS Date), 1)
INSERT [dbo].[Lections] ([LectionId], [LectionPhotoId], [LectionName], [LectionText], [LectionDate], [ThemeId]) VALUES (3, 3, N'Основы алгоритмов', N'Алгоритм — это последовательность шагов для решения задачи. Свойства: конечность, определённость, результативность. Примеры: сортировка массива (пузырьковая сортировка), поиск (бинарный поиск). Сложность алгоритмов: O(n), O(log n).', CAST(N'2023-10-03' AS Date), 2)
SET IDENTITY_INSERT [dbo].[Lections] OFF
GO
SET IDENTITY_INSERT [dbo].[Questions] ON 

INSERT [dbo].[Questions] ([QuestionId], [QuestionText], [TestId]) VALUES (1, N'Что изучает информатика?', 1)
INSERT [dbo].[Questions] ([QuestionId], [QuestionText], [TestId]) VALUES (2, N'Какие основные понятия включает информатика?', 1)
INSERT [dbo].[Questions] ([QuestionId], [QuestionText], [TestId]) VALUES (3, N'Какой пример системы счисления дан в лекции?', 1)
SET IDENTITY_INSERT [dbo].[Questions] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleId], [RoleName]) VALUES (1, N'Преподаватель')
INSERT [dbo].[Roles] ([RoleId], [RoleName]) VALUES (2, N'Студент')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Tests] ON 

INSERT [dbo].[Tests] ([TestId], [LectionId]) VALUES (1, 1)
INSERT [dbo].[Tests] ([TestId], [LectionId]) VALUES (2, 2)
INSERT [dbo].[Tests] ([TestId], [LectionId]) VALUES (3, 3)
SET IDENTITY_INSERT [dbo].[Tests] OFF
GO
SET IDENTITY_INSERT [dbo].[Themes] ON 

INSERT [dbo].[Themes] ([ThemeId], [ThemeName]) VALUES (1, N'Основы информатики')
INSERT [dbo].[Themes] ([ThemeId], [ThemeName]) VALUES (2, N'Алгоритмы и структуры данных')
INSERT [dbo].[Themes] ([ThemeId], [ThemeName]) VALUES (3, N'Введение в программирование')
SET IDENTITY_INSERT [dbo].[Themes] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [UserLogin], [UserPassword], [RoleId]) VALUES (1, N'teacher1', N'pass123', 1)
INSERT [dbo].[Users] ([UserId], [UserLogin], [UserPassword], [RoleId]) VALUES (2, N'student1', N'stud123', 2)
INSERT [dbo].[Users] ([UserId], [UserLogin], [UserPassword], [RoleId]) VALUES (3, N'student2', N'stud456', 2)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Answers]  WITH CHECK ADD  CONSTRAINT [FK_Answers_Questions] FOREIGN KEY([QuestionId])
REFERENCES [dbo].[Questions] ([QuestionId])
GO
ALTER TABLE [dbo].[Answers] CHECK CONSTRAINT [FK_Answers_Questions]
GO
ALTER TABLE [dbo].[Lections]  WITH CHECK ADD  CONSTRAINT [FK_Lections_Themes] FOREIGN KEY([ThemeId])
REFERENCES [dbo].[Themes] ([ThemeId])
GO
ALTER TABLE [dbo].[Lections] CHECK CONSTRAINT [FK_Lections_Themes]
GO
ALTER TABLE [dbo].[Questions]  WITH CHECK ADD  CONSTRAINT [FK_Questions_Tests] FOREIGN KEY([TestId])
REFERENCES [dbo].[Tests] ([TestId])
GO
ALTER TABLE [dbo].[Questions] CHECK CONSTRAINT [FK_Questions_Tests]
GO
ALTER TABLE [dbo].[QuestionsResults]  WITH CHECK ADD  CONSTRAINT [FK_QuestionsResults_Questions] FOREIGN KEY([QuestionId])
REFERENCES [dbo].[Questions] ([QuestionId])
GO
ALTER TABLE [dbo].[QuestionsResults] CHECK CONSTRAINT [FK_QuestionsResults_Questions]
GO
ALTER TABLE [dbo].[QuestionsResults]  WITH CHECK ADD  CONSTRAINT [FK_QuestionsResults_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[QuestionsResults] CHECK CONSTRAINT [FK_QuestionsResults_Users]
GO
ALTER TABLE [dbo].[Tests]  WITH CHECK ADD  CONSTRAINT [FK_Tests_Lections] FOREIGN KEY([LectionId])
REFERENCES [dbo].[Lections] ([LectionId])
GO
ALTER TABLE [dbo].[Tests] CHECK CONSTRAINT [FK_Tests_Lections]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([RoleId])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
ALTER TABLE [dbo].[Visits]  WITH CHECK ADD  CONSTRAINT [FK_Visits_Lections] FOREIGN KEY([LectionId])
REFERENCES [dbo].[Lections] ([LectionId])
GO
ALTER TABLE [dbo].[Visits] CHECK CONSTRAINT [FK_Visits_Lections]
GO
ALTER TABLE [dbo].[Visits]  WITH CHECK ADD  CONSTRAINT [FK_Visits_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Visits] CHECK CONSTRAINT [FK_Visits_Users]
GO
USE [master]
GO
